In [21]:
import pandas as pd
from sqlalchemy import create_engine

### Extract Excel data into DataFrames

In [20]:
file = "Resources/Dec19.xls"
df = pd.read_excel(file, sheet_name='Island',header=67, skipfooter=57)
df.head(150)

,MONTH-TO-DATE,ISLAND,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,EXPENDITURES ($mil.) *,TOTAL ($mil.),1631.89,1393.64,1506.36,1327.04,1394.94,1644.28,1702.45,1501.42,1244.96,1325.1,1327.89,1754.07
1,NaN,Total by air,1628.45,1388.71,1502.73,1318.53,1390.5,1644.02,1702.45,1501.42,1236.1,1317.37,1321.98,1749.95
2,NaN,O‘ahu,711.664,617.275,690.716,627.482,679.908,745.578,764.563,730.307,610.088,608.636,628.771,777.464
3,NaN,Maui,474.194,413.872,440.272,391.867,395.744,486.773,502.372,404.095,341.11,377.102,380.972,513.147
4,NaN,Moloka'i,2.87478,3.28657,3.65689,3.28485,3.22981,2.74861,2.98088,1.70708,1.7906,3.92632,3.60996,4.28128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,EXPENDITURES ($mil.) *,TOTAL ($mil.),1631.89,3025.53,4531.89,5858.93,7253.87,8898.16,10600.6,12102,13347,14672.1,16000,17754
62,NaN,Total by air,1628.45,3017.16,4519.88,5838.41,7228.91,8872.93,10575.4,12076.8,13312.9,14630.3,15952.2,17702.2
63,NaN,O‘ahu,711.664,1328.94,2019.65,2647.14,3327.05,4072.62,4837.19,5567.49,6177.58,6786.22,7414.99,8192.45
64,NaN,Maui,474.194,888.067,1328.34,1720.21,2115.95,2602.72,3105.09,3509.19,3850.3,4227.4,4608.37,5121.52
65,NaN,Moloka'i,2.87478,6.16135,9.81824,13.1031,16.3329,19.0815,22.0624,23.7695,25.5601,29.4864,33.0964,37.3776

### Transform Visitor DataFrame

### Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/HawaiiTourism_DB"
engine = create_engine(f'postgresql://{connection_string}')

### Load DataFrames into database