# ETL Project - Hawaii Tourism

The datasets used in this project were downloaded from Hawaii government official website. The data for years 2019, 2020 and until June 2021 is used here.
http://dbedt.hawaii.gov/visitor/tourism/

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## Extract Steps

The excel document contains detailed report of the visitor details for the specific month and year. The data is summarized based on certain indicators like visitors by country to various islands, total expenditure, travel by air/cruise ships, per person cost per day/trip, number of visiting days, etc. The data was available for months, cumulative data for the year, comparisons to previous years. 
In this step, the summary data for the entire year is extracted from Island sheet of december 2019 and 2020 files, and june 2021 file.

### Extract Excel data into DataFrames

In [2]:
file = "Resources/Dec19.xls"
df = pd.read_excel(file, sheet_name='Island',header=67, skipfooter=63, usecols='A:N')
df.fillna(value={'MONTH-TO-DATE':""}, inplace=True)
df.head()

,MONTH-TO-DATE,ISLAND,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,EXPENDITURES ($mil.) *,TOTAL ($mil.),1631.890829,1393.638963,1506.363745,1327.039688,1394.938984,1644.283012,1702.449591,1501.418894,1244.964581,1325.098567,1327.890163,1754.072960
1,,Total by air,1628.449724,1388.705659,1502.729051,1318.526258,1390.502236,1644.019022,1702.449591,1501.418894,1236.099662,1317.368385,1321.978285,1749.946143
2,,O‘ahu,711.664315,617.274627,690.715788,627.481972,679.908475,745.578373,764.563346,730.306855,610.088331,608.635536,628.771118,777.464207
3,,Maui,474.194343,413.872217,440.272341,391.866629,395.744384,486.772613,502.371935,404.094633,341.110190,377.101703,380.972132,513.146986
4,,Moloka'i,2.874777,3.286571,3.656891,3.284855,3.229813,2.748613,2.980881,1.707083,1.790595,3.926321,3.609962,4.281278

In [3]:
file = "Resources/Dec20.xls"
df20 = pd.read_excel(file, sheet_name='Island',header=77, skipfooter=73, usecols='A:N')
df20.fillna(value={'MONTH-TO-DATE':""}, inplace=True)
df20.head()

,MONTH-TO-DATE,ISLAND,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,EXPENDITURES ($mil.) *,TOTAL ($mil.),1713.007862,1458.678411,720.242608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,Total by air,1708.040974,1452.579965,718.794976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,O‘ahu,701.648368,589.990533,299.256547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.801918,156.467991
3,,Maui,510.673409,460.335082,221.603088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.190214,185.930618
4,,Moloka'i,4.303054,4.527796,1.925655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
file = "Resources/Jun21.xls"
df21 = pd.read_excel(file, sheet_name='Island',header=83, skipfooter=74, usecols='A:N')
df21.fillna(value={'MONTH-TO-DATE':""}, inplace=True)
df21.head()

,MONTH-TO-DATE,ISLAND,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,EXPENDITURES ($mil.) *,TOTAL ($mil.),383.341973,385.336128,745.936198,811.418612,1101.250373,1437.101771,NaN,NaN,NaN,NaN,NaN,NaN
1,,Total by air,383.341973,385.336128,745.936198,811.418612,1101.250373,1437.101771,NaN,NaN,NaN,NaN,NaN,NaN
2,,O‘ahu,129.895634,133.335939,260.018248,299.788636,418.326985,541.522814,NaN,NaN,NaN,NaN,NaN,NaN
3,,Maui,172.911332,166.153289,330.072619,316.327104,409.176501,503.023774,NaN,NaN,NaN,NaN,NaN,NaN
4,,Moloka'i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Transform Steps

- Missing values were filled with appropriate values
- Irrelevant rows were removed
- New column was added for year and remaining columns were renamed
- The special characters were removed from the dataframes

### Transform Visitor DataFrame

In [5]:
indicator=''

for index, row in df.iterrows():
    if(row[0] == ''):
        df.iloc[index, 0] = indicator 
        
    else:
        indicator = row[0]  
        
visitor_DF = df.copy()
visitor_DF.columns = ['indicators', 'island_name', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
visitor_DF['visiting_year'] = 2019
visitor_DF = visitor_DF[['indicators', 'island_name', 'visiting_year', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']]
visitor_DF = visitor_DF.loc[visitor_DF['island_name'].str.contains("TOTAL|Total|ships") == False]

#replace special characters in the island name
visitor_DF['island_name'] = visitor_DF['island_name'].str.replace('  O‘ahu', 'Oahu')
visitor_DF['island_name'] = visitor_DF['island_name'].str.replace('  Maui', 'Maui')
visitor_DF['island_name'] = visitor_DF['island_name'].str.replace("  Moloka'i", 'Molokai')
visitor_DF['island_name'] = visitor_DF['island_name'].str.replace("  Lāna'i", 'Lanai')
visitor_DF['island_name'] = visitor_DF['island_name'].str.replace("  Kaua‘i ", 'Kauai')
visitor_DF['island_name'] = visitor_DF['island_name'].str.replace("  Hawai‘i Island ", 'Hawaii Island')
visitor_DF['indicators'] = visitor_DF['indicators'].str.replace('*', '')

visitor_DF.head()

,indicators,island_name,visiting_year,january,february,march,april,may,june,july,august,september,october,november,december
2,EXPENDITURES ($mil.),Oahu,2019,711.664315,617.274627,690.715788,627.481972,679.908475,745.578373,764.563346,730.306855,610.088331,608.635536,628.771118,777.464207
3,EXPENDITURES ($mil.),Maui,2019,474.194343,413.872217,440.272341,391.866629,395.744384,486.772613,502.371935,404.094633,341.110190,377.101703,380.972132,513.146986
4,EXPENDITURES ($mil.),Molokai,2019,2.874777,3.286571,3.656891,3.284855,3.229813,2.748613,2.980881,1.707083,1.790595,3.926321,3.609962,4.281278
5,EXPENDITURES ($mil.),Lanai,2019,9.168277,8.352679,12.203595,8.515973,9.839199,10.005001,12.084379,12.566838,8.357483,9.962714,8.939588,14.493839
6,EXPENDITURES ($mil.),Kauai,2019,175.976473,153.332316,152.266436,133.509978,148.581504,194.151506,201.085634,159.372416,128.561843,140.717995,137.580095,175.475591

In [6]:
indicator=''

for index, row in df20.iterrows():
    if(row[0] == ''):
        df20.iloc[index, 0] = indicator         
    else:
        indicator = row[0]          

visitor_DF20 = df20.copy()
visitor_DF20.columns = ['indicators', 'island_name', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
visitor_DF20['visiting_year'] = 2020
visitor_DF20 = visitor_DF20[['indicators', 'island_name', 'visiting_year', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']]
visitor_DF20 = visitor_DF20.loc[visitor_DF20['island_name'].str.contains("TOTAL|Total|ships") == False]
visitor_DF20.fillna(0, inplace=True)

#replace special characters in the island name
visitor_DF20['island_name'] = visitor_DF20['island_name'].str.replace('  O‘ahu', 'Oahu')
visitor_DF20['island_name'] = visitor_DF20['island_name'].str.replace('  Maui', 'Maui')
visitor_DF20['island_name'] = visitor_DF20['island_name'].str.replace("  Moloka'i", 'Molokai')
visitor_DF20['island_name'] = visitor_DF20['island_name'].str.replace("  Lāna'i", 'Lanai')
visitor_DF20['island_name'] = visitor_DF20['island_name'].str.replace("  Kaua‘i ", 'Kauai')
visitor_DF20['island_name'] = visitor_DF20['island_name'].str.replace("  Hawai‘i Island ", 'Hawaii Island')
visitor_DF20['indicators'] = visitor_DF20['indicators'].str.replace('*', '')
visitor_DF20.head()

,indicators,island_name,visiting_year,january,february,march,april,may,june,july,august,september,october,november,december
2,EXPENDITURES ($mil.),Oahu,2020,701.648368,589.990533,299.256547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.801918,156.467991
3,EXPENDITURES ($mil.),Maui,2020,510.673409,460.335082,221.603088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.190214,185.930618
4,EXPENDITURES ($mil.),Molokai,2020,4.303054,4.527796,1.925655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
5,EXPENDITURES ($mil.),Lanai,2020,9.616350,5.429259,3.613267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
6,EXPENDITURES ($mil.),Kauai,2020,191.264871,171.253186,78.948457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50.042491,10.377884

In [7]:
indicator=''

for index, row in df21.iterrows():
    if(row[0] == ''):
        df21.iloc[index, 0] = indicator         
    else:
        indicator = row[0]          

visitor_DF21 = df21.copy()

visitor_DF21.columns = ['indicators', 'island_name', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
visitor_DF21['visiting_year'] = 2021
visitor_DF21 = visitor_DF21[['indicators', 'island_name', 'visiting_year', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']]
visitor_DF21 = visitor_DF21.loc[visitor_DF21['island_name'].str.contains("TOTAL|Total|ships") == False]
visitor_DF21.fillna(0, inplace=True)

#replace special characters in the island name
visitor_DF21['island_name'] = visitor_DF21['island_name'].str.replace('  O‘ahu', 'Oahu')
visitor_DF21['island_name'] = visitor_DF21['island_name'].str.replace('  Maui', 'Maui')
visitor_DF21['island_name'] = visitor_DF21['island_name'].str.replace("  Moloka'i", 'Molokai')
visitor_DF21['island_name'] = visitor_DF21['island_name'].str.replace("  Lāna'i", 'Lanai')
visitor_DF21['island_name'] = visitor_DF21['island_name'].str.replace("  Kaua‘i ", 'Kauai')
visitor_DF21['island_name'] = visitor_DF21['island_name'].str.replace("  Hawai‘i Island ", 'Hawaii Island')
visitor_DF21['indicators'] = visitor_DF21['indicators'].str.replace('*', '')
visitor_DF21.head()

,indicators,island_name,visiting_year,january,february,march,april,may,june,july,august,september,october,november,december
2,EXPENDITURES ($mil.),Oahu,2021,129.895634,133.335939,260.018248,299.788636,418.326985,541.522814,0.0,0.0,0.0,0.0,0.0,0.0
3,EXPENDITURES ($mil.),Maui,2021,172.911332,166.153289,330.072619,316.327104,409.176501,503.023774,0.0,0.0,0.0,0.0,0.0,0.0
4,EXPENDITURES ($mil.),Molokai,2021,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5,EXPENDITURES ($mil.),Lanai,2021,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
6,EXPENDITURES ($mil.),Kauai,2021,10.185748,15.822371,26.263548,65.584138,115.187850,172.347480,0.0,0.0,0.0,0.0,0.0,0.0

## Load

All the 3 dataframes were loaded to the visitors table in HawaiiTourism_DB in PostgreSQL.

### Create database connection

In [8]:
#Add password for the PostgreSQL here
password = ''

connString = f"postgresql+psycopg2://postgres:{password}@localhost:5432/HawaiiTourism_DB"
engine = create_engine(connString)
connection = engine.connect()

In [9]:
# Confirm tables
engine.table_names()

['visitors']

### Load DataFrames into database

In [10]:
visitor_DF.to_sql('visitors', con=connection, if_exists='append', index=False)

In [11]:
visitor_DF20.to_sql('visitors', con=connection, if_exists='append', index=False)

In [12]:
visitor_DF21.to_sql('visitors', con=connection, if_exists='append', index=False)